* {
  font-family: "Google Sans", sans;
}

ion-header {
  --bg: var(--ion-background-color);
  background-color: var(--bg);
  padding-top: var(--statusbar-height);
  ion-toolbar {
    --background: var(--bg);
    --min-height: var(--header-min-height);
    ion-title {
      font-size: var(--fs-700);
      font-weight: normal;
    }
  }
}

ion-content.app-page {
  --padding-top: 0.7rem;
  --padding-bottom: 0.7rem;
  --padding-start: var(--side-clearance);
  --padding-end: var(--side-clearance);
}
