<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-page">

  <ion-refresher slot="fixed" pullFactor="0.1" pullMin="200" pullMax="300" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="(messages$ | async) as messages;else noData">
    <div class="messages-container">
      <div class="message" *ngFor="let msg of messages" [class.self]="msg.self">
        <div class="sender"><span class="type">{{msg.chatType|titlecase}}</span> {{formatSender(msg.player,msg.agent)}}
        </div>
        <div class="text">{{msg.message}}</div>
      </div>
    </div>
  </ng-container>

  <ng-template #noData>
    <div class="no-data-card" #no>
      <ion-icon name="thunderstorm-outline"></ion-icon>
      <p>No Messages</p>
    </div>
  </ng-template>


</ion-content>