<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-page">

  <ion-refresher slot="fixed" pullFactor="0.1" pullMin="200" pullMax="300" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="(messages$ | async) as messages;else noData">
    <div class="messages-container">
      <app-message-card *ngFor="let msg of messages" [msg]="msg" [edge]="msg.self ? 'right':'left'"></app-message-card>
    </div>
  </ng-container>

  <ng-template #noData>
    <div class="no-data">
      <p>No Messages</p>
    </div>
  </ng-template>


</ion-content>