<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>vRY Mobile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-page">

  <ion-refresher slot="fixed" pullFactor="0.1" pullMin="200" pullMax="300" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="(heartbeat$ | async) as hb;else noData">

    <div class="status">Game State: {{hb.state | titlecase}}{{hb.state==="INGAME" ? ' - '+hb.map : ''}}</div>
    <div class="filter-bar" *ngIf="hb.state==='INGAME'">
      <span>Filters</span>
      <div class="filters" *ngIf="teamFilter$ | async as currentFilter">
        <span *ngFor="let teamFilter of teamFilters" class="filter" [ngClass]="[teamFilter | lowercase]"
          [class.selected]="teamFilter===currentFilter" (click)="teamFilter$.next(teamFilter)">{{teamFilter}}</span>
      </div>
    </div>

    <div class="card-container">
      <ng-container *ngFor="let p of (players$ | async); trackBy: trackByPuuid ">
        <app-player-card [player]="p" (moreInfo)="showMoreInfo(p)"></app-player-card>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #noData>
    <div class="no-data-card" #no>
      <ion-icon name="cloud-offline-outline"></ion-icon>
      <p>Connect to vRY Core</p>
    </div>
  </ng-template>

</ion-content>