:host {
  border-radius: var(--app-radius);
  padding-top: var(--app-radius);
  padding-inline: var(--side-clearance);
  overflow: hidden;
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 1rem;
  color: var(--md3-n2-300);
  font-size: var(--fs-550);
}

.stats {
  font-size: var(--fs-500);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.4rem;

  .pill {
    border-radius: 1rem;
    background-color: var(--md3-a2-600);
    padding: 0.28rem 0.75rem;
  }
}

.weapon-card {
  height: 10rem;
  width: 90%;
  background-color: var(--md3-a2-500);
  border-radius: var(--app-radius);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  .name {
    font-size: var(--fs-550);
  }

  img {
    --size: 6rem;
    height: var(--size);
    width: 90%;
    object-fit: contain;
  }
}
