:host {
  padding-top: var(--app-radius);
  overflow-y: scroll;
}

.padded {
  padding-inline: var(--side-clearance);
}

.name {
  position: sticky;
  top: 0;
  font-size: var(--fs-600);
  padding-bottom: 1rem;
  background-color: var(--ion-background-color);
}

.rankbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 1rem;

  .rankbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    aspect-ratio: 1;

    &__img {
      padding: 0.7rem;
      border-radius: 0.5rem;
      border-radius: 0.5rem;
    }

    &__name {
      padding-top: 0.5rem;
      font-size: var(--fs-550);
      font-weight: 700;
    }

    &__desc {
      font-size: var(--fs-400);
    }
  }
}

.ranks-heading,
.stats-heading,
.weapons-heading {
  margin-bottom: 1rem;
  color: var(--md3-n2-300);
  font-size: var(--fs-550);
}

.stats {
  font-size: var(--fs-500);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.4rem;

  .pill {
    border-radius: 0.5rem;
    background-color: var(--md3-a2-600);
    padding: 0.3rem 0.8rem;
  }
}

.weapon-card {
  height: 10rem;
  width: 90%;
  background-color: var(--md3-n2-800);
  border-radius: var(--app-radius);
  padding: 1rem;
  padding-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;

  &__name {
    font-size: var(--fs-550);
  }

  img {
    width: 90%;
    height: 50%;
    object-fit: contain;
  }
}
