<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="avatar-container">
    <ion-avatar>
      <img src="../../../assets/png/vry.png">
    </ion-avatar>
  </div>

  <ion-item lines="none" href="https://github.com/zayKenyon/VALORANT-rank-yoinker/graphs/contributors" target="_self">
    <ion-icon name="logo-github" slot="start"></ion-icon>
    <ion-label>
      <h2>Contributers</h2>
      <p>github.com/zayKenyon/VALORANT-rank-yoinker/contributors</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none" href="https://github.com/zayKenyon/VALORANT-rank-yoinker" target="_self">
    <ion-icon name="logo-github" slot="start"></ion-icon>
    <ion-label>
      <h2>App Source</h2>
      <p>github.com/zayKenyon/VALORANT-rank-yoinker</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none" href="https://github.com/zayKenyon/VALORANT-rank-yoinker" target="_self">
    <ion-icon name="logo-github" slot="start"></ion-icon>
    <ion-label>
      <h2>Core Source</h2>
      <p>github.com/zayKenyon/VALORANT-rank-yoinker</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-icon name="git-commit-outline" slot="start"></ion-icon>
    <ion-label>
      <h2>App Version</h2>
      <p>1.0-APLHA</p>
    </ion-label>
  </ion-item>
</ion-content>