:host {
  width: 100%;
}

.bar {
  color: var(--ion-text-color);
  padding: 0.3rem;
  background-color: var(--md3-n2-600);
  font-size: var(--fs-500);

  &.connected {
    background-color: var(--lime-8);
  }
  &.disconnected {
    background-color: var(--md3-a1-700);
  }
}
