:host {
  --height: 6.5rem;
  width: 100%;
}

.card {
  position: relative;

  height: var(--height);
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(0.75 * var(--app-radius));

  background-color: var(--ion-card-background-color);
  border-radius: var(--app-radius);
  padding: calc(0.75 * var(--app-radius));

  .img-container {
    position: relative;
    height: calc(0.6 * var(--height));
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 1;

    .agent-img {
      background-color: var(--md3-n2-700);
      border-radius: 100vmax;
      object-fit: cover;
    }

    .level {
      position: relative;
      top: calc(-0.75 * var(--fs-500));
      padding: 0.1rem 0.45rem;
      font-size: var(--fs-500);
      background-color: var(--md3-a1-600);
      border-radius: 100vmax;
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex-grow: 1;

    .name {
      font-size: calc(1.1 * var(--fs-550));
    }

    .rank {
      color: var(--md3-n1-200);
      font-size: var(--fs-550);
    }

    .peak-rank {
      color: var(--md3-n1-200);
      font-size: var(--fs-500);
    }
  }

  .party {
    position: absolute;
    top: calc(0.65 * var(--app-radius));
    left: calc(0.65 * var(--app-radius));

    width: calc(1.65 * var(--fs-500));
    height: calc(1.65 * var(--fs-500));
    font-size: var(--fs-500);
    border-radius: 100vmax;
    background-color: var(--md3-a3-500);

    display: flex;
    align-items: center;
    justify-content: center;

    span {
      padding-right: 1px;
    }
  }

  &.red {
    .img-container {
      .agent-img {
        background-color: var(--red-5);
      }
      .level {
        background-color: var(--red-6);
      }
    }
  }

  &.blue {
    .img-container {
      .agent-img {
        background-color: var(--blue-5);
      }
      .level {
        background-color: var(--blue-6);
      }
    }
  }
}
