<div class="card" [ngClass]="[player?.team || 'none' | lowercase]">
  <div class="img-container">
    <img class="agent-img" [src]="agentImage(player)" loading="lazy">
    <div class="level">{{player.level}}</div>
  </div>
  <div class="info-container">
    <div class="name">{{player.name}}</div>
    <div class="rank">Rank: {{numToRank(player?.rank)}}</div>
    <div class="peak-rank">Peak: {{numToRank(player?.peakRank)}} {{player?.peakRankAct | uppercase}}</div>
  </div>
  <div class="party" *ngIf="player?.partyNumber > 0"><span>{{player.partyNumber}}</span></div>
  <ion-button class="more" (click)="moreInfo.emit(true)">
    <ion-icon name="chevron-up-outline">

    </ion-icon>
  </ion-button>
</div>